*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: "Open Sans", sans-serif;
}
:root{
	--text-color: #fff;
	--bg-color: #000;
	--main-color: magenta;
	--h1-font: 6rem;
	--h2-font:3rem;
	--p-font:1rem;
}
body{
	color: var(--text-color);
	background: var(--bg-color);
}
header{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	background: transparent;
	padding: 27px 17%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all .50s ease;
}
.logo{
	font-size: 45px;
	color: var(--text-color);
	font-weight: 900;
	margin-right: 50px;
}
span{
	color: var(--main-color);
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	margin: 25px 15px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.boxe{
	height: 30px;
	display: flex;
	cursor: pointer;
	padding: 10px 20px;
	background: #fff;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.boxe:hover input{
	width: 100px;
}
.boxe input{
	width: 0;
	outline: none;
	border: none;
	font-weight: 500;
	transition: 0.8s;
	background: transparent;
}
.boxe a .fas{
	color: #c22957;
	font-size: 18px;
}
section{
	padding: 80px 5% 20px;
}
.home{
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-image: linear-gradient(to left,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url(../img/background.png);
	background-position: bottom center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.home-text h5{
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: var(--main-color);
}
.home-text h1{
	font-size: 120px;
	font-weight: 800;
	line-height: 1.0;
	margin-bottom: 20px;
	 transition: 0.5s;
}
.home-text h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.home-text p{
	font-size: var(--p-font);
	font-weight: 900;
	line-height: 30px;
	color: #ffffffab;
	margin-bottom: 35px;
}
.home-img img{
    width: 100%;
    height: auto;
    animation: imgRotate 50s linear infinite;
    border-radius: 50%;
}
@keyframes imgRotate{
    100% {
        transform: rotate(360deg);
    }
}
  /* button */
.btn {
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7d0567;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}  
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
} 
.btn:hover::before {
    opacity: 1;
}  
.btn:active:after {
    background: transparent;
} 
.btn:active {
    color: #000;
    font-weight: bold;
    font-size: 400;
}
header.sticky{
	padding: 8px 17%;
	background: transparent;
	backdrop-filter: blur(35px);
}
.feature-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	text-align: center;
	gap: 3rem;
}
.row-img{
	overflow: hidden;
	width: 170px;
	height: 170px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10%;
	cursor: pointer;
}
.row-img img{
	width: 100%;
	transition: transform 0.7s;
}
.row-img img:hover{
	transform: scale(1.2);
}
.feature-content h4{
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	transition: all .50s ease;
}
.feature-content h4:hover{
	color: var(--main-color);
}
.holiday{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
}
.holiday-img img{
	width: 100%;
	height: auto;
	border-radius: 30px;
	transition: transform 0.7s;
}
.holiday-img img:hover{
	transform: scale(0.9);
}
.holiday-text h5{
	font-size: 25px;
	font-weight: 800;
	color: var(--main-color);
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.holiday-text h2{
	font-size: var(--h2-font);
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 20px;
}
.holiday-text p{
	font-size: var(--p-font);
	font-weight: 500;
	line-height: 20px;
	color: #ffffffab;
	margin-bottom: 35px;
}
/*about*/
.title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-top: 2px;
}
.rowe{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	overflow-x: hidden;
	padding: 5rem 0;
}
.rowe .imgWrapper{
	overflow: hidden;
}
.rowe .imgWrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s;
	border-radius: 20px;
}
.rowe .imgWrapper:hover img{
	transform: scale(1.25);
}
.rowe .contentWrapper p{
	font-size: 18px;
	font-weight: 500;
	line-height: 15px;
	color: #ffffffab;
	padding-bottom: 25px;
	margin-top: 30px;
	line-height: 1.1;
}

@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden; 
    margin-left:480px;
    margin-top: 90px;
}
.box::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,
    transparent,#f103a9,#f103a9,#f103a9);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,
    transparent,#f103a9,#f103a9,#f103a9);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}
.box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}                   
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: #fff;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active
{
    opacity: 0.8;
}
/*packages*/
.offers{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.offers h1{
	font-weight: 600;
	text-align: center;
	margin: 0;
}
.offers p{
	font-weight: 500;
	text-align: center;
	margin: 0;
}
.offers .cards{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.offers .cards .card{
	position: relative;
	width: 300px;
	height: 370px;
	margin: 10px;
}
.offers .cards .card h3{
	width: 170px;
	padding: 6px 0px;
	background: #c22957;
	border-radius: 20px;
	font-size: 17px;
	display: grid;
	place-items: center;
	margin: auto;
}
.offers .cards .card .img-text{
	position: relative;
	width: 100%;
	height: 250px;
    margin-top: 5px;
}
.offers .cards .card .img-text img{
	position: relative;
	width: 100%;
	height: 200px;
	border-radius: 10px 10px 0px 0px;
}
.offers .cards .card .img-text h4{
	position: absolute;
	font-size: 12px;
	padding: 8px 44px;
	bottom: 0;
	margin: 0;
	color: #fff;
	z-index: 2;
}
.offers .cards .card .img-text h4::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255,.1);
	backdrop-filter: blur(5px);
	z-index: -1;
	bottom: 0;
	left: 0;
}
.offers .cards .card .cont_bx{
	width: 99.8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid gray;
	padding: 5px 0px;
	border-radius: 0px 0px 10px 10px;
}
.offers .cards .card .cont_bx .price , .dayes{
	margin: 0px 8px;
}
.offers .cards .card .cont_bx .price .heart_chat{
	display: flex;
	align-items: center;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1){
	color: red;
	font-size: 13px;
	margin-right: 10px;
}
.offers .cards .card .cont_bx .price .heart_chat i span{
	color: #fff;
	font-size: 12px;
	margin-left: 3px;
	font-style: normal;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2){
	color: rgb(112, 196, 229);
	font-size: 13px;
	margin-right: 10px;
}
.offers .cards .card .cont_bx .price .info_price{
	display: flex;
	align-items: center;
	margin-top: 19px;
}
.offers .cards .card .cont_bx .price .info_price a{
	text-decoration: none;
	color: magenta;
	font-weight: 700;
	transition: .3s linear;
	margin-right: 13px;
	font-size: 17px;
}
.offers .cards .card .cont_bx .price .info_price a:hover{
	color: #fff;
}
.offers .cards .card .cont_bx .price .info_price h4{
	margin: 0;
	font-size: 15px;
}
.offers .cards .card .cont_bx .dayes{
	color: #fff;
	background: mediumpurple;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	transition: .3s linear;
}
.offers .cards .card .cont_bx .dayes:hover{
	transform: rotate(360deg);
}
/*services*/
#service-section{
	min-height: 540px;
	width: 100%;
	background: #20223a;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#service-section h2{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 10px;
	position: relative;
}
#service-section h2::after{
	position: absolute;
	content: "";
	top: 30%;
	left: -30px;
	height: 0px;
	width: 0px;
	border-top: 20px solid transparent;
	border-left: 20px solid #fd562a;
}
#service-section h2::before{
	position: absolute;
	content: "";
	top: 30%;
	right: -30px;
	height: 0px;
	width: 0px;
	border-top: 20px solid transparent;
	border-right: 20px solid #fd562a;
}
#service-section #paragraph{
	width: 100%;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-bottom: 10px;
}
.carde{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 55px;
	z-index: 9;
	margin-top: 8px;
}
.carde .card{
	height: 190px;
	width: 280px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 0 6%;
	background: rgb(65, 62, 105);
	position: relative;
	border-radius: 20px;
	margin: 0 10px;
}
.carde .card::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: #fd562a;
	transition: -6s;
    transform: rotate(0deg);
    z-index: -1;
}
.carde .card:hover.card::before{
    transform: rotate(10deg);
}
.carde .card i{
	font-size: 2rem;
	color: #fd562a;
	margin-top: 8px;
	margin-bottom: 5px;
}
.carde .card h3{
	font-size: 0.9rem;
	color: #fff;
	margin-bottom: 5px;
}
.carde .card .content p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.01rem;
	margin-bottom: 5px;
	font-weight: 500;
}
@media(max-width:1100px){
	#service-section h2{
		margin-top: 30px;
	}
	.carde{
		grid-template-columns: repeat(1, 1fr);
	}
	#service-section #paragraph{
		width: 80%;
	}
}
@media(max-width:900px){
	.carde .card{
		height: 300px;
		width: 400px;
		margin: 20px 0;
	}
}
.footer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, auto));
	gap: 3rem;
}
.footer-box{
	display: flex;
	flex-direction: column;
}
.footer-box h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.footer-box a{
	color: #979797;
	margin-bottom: 0.8rem;
	transition: all .50s ease;
}
.footer-box a:hover{
	transform: translateX(-5px);
	color: var(--text-color);
}
.social a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 45px;
	background: #202020;
	color: var(--text-color);
	font-size: 20px;
	border-radius: 50%;
	margin-right: 8px;
	transform: 0.6s;
}
.social a:hover{
	background: var(--main-color);
	color: var(--bg-color);
	transform: translateX(-4px);
}
.copyright p{
	text-align: center;
	padding: 20px;
	color: #979797;
	font-size: 15px;
}